In [1]:
import pandas as pd
import numpy as np

In [12]:
# Create a dataframe that contains the GDP data
GDP = pd.read_csv('https://raw.githubusercontent.com/Shiyu-Lu/Data-Science_Coursera/master/year_csv.csv')

# Display using the method head()
GDP.head()

   date  level-current  level-chained  change-current  change-chained
0  1930           92.2          966.7           -16.0            -6.4
1  1931           77.4          904.8           -23.1           -12.9
2  1932           59.5          788.2            -4.0            -1.3
3  1933           57.2          778.3            16.9            10.8
4  1934           66.8          862.2            11.1             8.9

In [2]:
# Create a dataframe that contains the unemployment data
UE = pd.read_csv('https://raw.githubusercontent.com/Shiyu-Lu/Data-Science_Coursera/master/aat1_csv.csv')

# Display the first five rows of the dataframe using the method head()
UE.head()

,year,population,labor_force,population_percent,employed_total,employed_percent,agrictulture_ratio,nonagriculture_ratio,unemployed,unemployed_percent,not_in_labor,footnotes
0,1941,99900,55910,56.0,50350,50.4,9100,41250,5560,9.9,43990,NaN
1,1942,98640,56410,57.2,53750,54.5,9250,44500,2660,4.7,42230,NaN
2,1943,94640,55540,58.7,54470,57.6,9080,45390,1070,1.9,39100,NaN
3,1944,93220,54630,58.6,53960,57.9,8950,45010,670,1.2,38590,NaN
4,1945,94090,53860,57.2,52820,56.1,8580,44240,1040,1.9,40230,NaN

In [3]:
# Display a dataframe where unemployment was greater than 8.5%
UE[UE['unemployed_percent']>8.5]

,year,population,labor_force,population_percent,employed_total,employed_percent,agrictulture_ratio,nonagriculture_ratio,unemployed,unemployed_percent,not_in_labor,footnotes
0,1941,99900,55910,56.0,50350,50.4,9100,41250,5560,9.9,43990,NaN
42,1982,172271,110204,64.0,99526,57.8,3401,96125,10678,9.7,62067,NaN
43,1983,174215,111550,64.0,100834,57.9,3383,97450,10717,9.6,62665,NaN
69,2009,235801,154142,65.4,139877,59.3,2103,137775,14265,9.3,81659,1.0
70,2010,237830,153889,64.7,139064,58.5,2206,136858,14825,9.6,83941,1.0

In [6]:
# Us the function make_dashboard to make a dashboard
def make_dashboard(x, gdp_change, unemployed_percent, title):
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)
    return
make_dashboard(x=year, 'unemployed'=UE['unemployed'], 'GDP'=GDP['level-current'])

SyntaxError: keyword can't be an expression (<ipython-input-6-f3a106b96b9d>, line 2)